/* General Settings */

*{
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova Reg','Open Sans', 'Arial', sans-serif;
    box-sizing: content-box;
}
.container{
	width: 90%;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
}

ul{list-style: none;}
a{text-decoration: none;}

.active{
	color: #758ab2 !important;
}

.clearfix{
	clear: both;
}


/* Navbar */
nav{
	padding: 35px;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	position: fixed;
	text-align: center;
	z-index: 999999;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

nav img{
	float: left;
}

.navbar-list{
	float: right;
}

.navbar-list li{
	display: inline-block;
	padding-right: 25px;
	font-weight: 500;
	font-size: 16px;
}

.navbar-list li a:hover{
	color: #758ab2; 
}

.navbar-list li a{
	color: #777;
	-webkit-font-smoothing: antialiased;
}

/* Slider */

#slider-outer ul li img{
	height: 635px;
	width: 100%;
}

/* Aciklama */
.aciklama{
	background-color: #333;
	height: 100px;
	padding: 40px 0;
	color: white;
	text-align: center;
}

.bx-wrapper{
	border: 0 !important;
	margin: 0 !important;
}	

.aciklama-1{
	padding-top: 20px;
	font-size: 30px;
}

.aciklama-renk{
	color: #c76c57;
}	

/* Features */

.features{
	background-color: #fff;
    -webkit-box-shadow: inset 3px 9px 8px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: inset 3px 9px 8px -4px rgba(0,0,0,0.48);
    box-shadow: inset 3px 9px 8px -4px rgba(0,0,0,0.48);
}

.screenshots{
    background-color: #f9f9f9;
}

.features-baslik,
.screenshots-baslik{
	font-size: 35px;
	color: #727272;
	width: 12%;
	margin: 0 auto;
	padding: 25px 0 15px 0;
}

.screenshots-baslik{
	font-size: 30px;
}

.line{
    opacity: 0.5;
    width: 50%;
    margin: 0 auto;
}

.col{
    width: 33.33%;
    float: left;
}

.columns{
    padding: 50px;
    margin: 30px;
    margin-bottom: 0;
}

.col .icon{
    float: left;
    margin: 5px 13px 150px 40px;
}

.col h5{
    color: #404040;
    font-size: 16px;
    margin-bottom: 5px;
}

.col p{
    color: #737373;
    font-size: 14px;
    margin-bottom: 10px;
}

.col .btn{
    color: #333333;
    padding: 6px 12px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #737373;
    border-radius: 5px;
}

.col .btn:hover{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.bosluk{
    height: 50px;
    margin: 100px;
}

.screen-columns{
	margin-top: 50px;
}

.screen-col{
	width: 20%;
	float: left;
	padding: 20px;
}

.screen-col img{
	border-width: 5px;
	border-style: solid;
	border-color: white;
	box-shadow: 0px 0px 1px #969696;
}

.screen-col h5{
	font-size: 14px;
	color: #404040;
	margin: 10px 0;
}

.screen-col p{
	font-size: 12px;
	color: #737373;
	margin-bottom: 10px;
}

/* Slider Açıklama */

.slider-aciklama-container{
	width: 50%;
	margin-left: 70px;
	float: left;
}

.slider-aciklama{
	background-image: url("img/sliderBg.jpg");
	height: 147px;
	width: 100%;
	margin-bottom: 30px;
}

.slider-yazi{
	padding-top: 50px;
	color: white;
	font-size: 16px;
}

.slider-yazi2{
	padding-top: 10px;
	color: white;
	font-size: 14px;
}

.slider-form-container{
	width: 40%;
	margin: 0 auto;
	float: right;
	padding-top:30px;
}

.abone-text{
	border-radius: 30px 0 0 30px;
	width: 300px;
	padding: 7px;
	padding-left: 15px;
	float: left;
	margin: 0;
	border: 0;
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.51);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.51);
}

.abone-text:focus,
.subscribe-btn:focus{
	outline: 0;
}

.subscribe-btn{
	border-radius: 0 30px 30px 0;
	width: 60px;
	cursor: pointer;
	padding: 7px;
	margin-left: 0;
	float: left;
	background-color: #e25822; 
	color: #EBEBEB;
	border: 0;
	margin-top: 20px;
	transition: background-color .5s, color .5s;
	-webkit-box-shadow: 5px 0px 5px 5px rgba(0,0,0,0.51);
	-moz-box-shadow: 5px 0px 5px 5px rgba(0,0,0,0.51);
	box-shadow: 5px 0px 5px 5px rgba(0,0,0,0.51);
}

.subscribe-btn:hover{
	color: #EBEBEB;
	background-color: #ff7315;
}
